:root {
  --light-cornflower-blue: #8ecae6ff;
  --blue-green: #219ebcff;
  --prussian-blue: #023047ff;
  --selective-yellow: #ffb703ff;
  --tangerine: #fb8500ff;
}

/* hero image */
#hero {
  height: 100vh;
  width: 100vw;
  background-image: url("/assets/images/departure-lounge-hq.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.main-title {
  text-align: center;
  font-size: 80px;
  padding-top: 80px;
  color: white;
  text-shadow: 2px 2px 5px #023047ff;
}

#holiday-dropdown {
  width: 50vw;
}

.dropdown,
.dropdown-menu,
.dropdown-trigger,
#holiday-dropdown-btn {
  width: 100%;
}

#weather-container {
  width: 25vw;
  margin: 8px;
}

/* webcam section */

.webcam-title {
  text-align: center;
}

.locationtitle {
  text-align: center;
}

.webcam-title {
  color: #212529;
  padding: 20px;
  font-size: 2rem;
}

.card {
  max-width: 500px;
  margin: 0 auto;
  margin-top: 25px;
}

.column {
  gap: 2rem;
  display: flex;
  flex-direction: column;
}

img.bw {
  filter: grayscale(30%);
}

img.bw:hover {
  filter: brightness(115%);
}

/* end of webcam section */

.package {
  display: flex;
  flex-wrap: wrap;
  flex: 30rem;
}

/* .container {
  display: flex;
} */

@media screen and (max-width: 576px) {
  .title {
    font-size: 60px;
  }
  #holiday-dropdown,
  #weather-container {
    width: 90vw;
  }
}

@media screen and (max-width: 768px) {
  #weather-container {
    width: 50vw;
  }
}
