:root {
  --light-cornflower-blue: #8ecae6ff;
  --blue-green: #219ebcff;
  --prussian-blue: #023047ff;
  --selective-yellow: #ffb703ff;
  --tangerine: #fb8500ff;
}

/* hero image */
#hero {
  height: 90vh;
  width: 100vw;
  background-image: url("/assets/images/departure-lounge-hq.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.title {
  text-align: center;
  font-size: 80px;
  padding-top: 80px;
  color: white;
  text-shadow: 2px 2px 5px #023047ff;
}

#holiday-dropdown {
  width: 50vw;
}

.dropdown,
.dropdown-menu,
.dropdown-trigger,
#holiday-dropdown-btn {
  width: 100%;
}

@media screen and (max-width: 576px) {
  .title {
    font-size: 60px;
  }
  #holiday-dropdown {
    width: 90vw;
  }
}
