:root {
  --light-cornflower-blue: #8ecae6ff;
  --blue-green: #219ebcff;
  --prussian-blue: #023047ff;
  --selective-yellow: #ffb703ff;
  --tangerine: #fb8500ff;
  --black: black;
}

body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
/* hero image */
#hero {
  height: 100vh;
  width: 100vw;
  background-image: url("/assets/images/departure-lounge-hq.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.main-title {
  text-align: center;
  font-size: 80px;
  padding-top: 80px;
  color: white;
  text-shadow: 2px 2px 5px #023047ff;
}

#holiday-dropdown {
  width: 50vw;
}

.dropdown,
.dropdown-menu,
.dropdown-trigger,
#holiday-dropdown-btn {
  width: 100%;
}

/*~ css for holiday snaps html */

/* page title styling */

.page-title {
  font-weight: bold;
  font-size: 40px;
  margin-top: 20px;
  color: var(--selective-yellow);
}

/* card styling */
.card {
  margin: 70px 250px;
}

.card-title {
  font-weight: bold;
}

.hastags {
  padding-bottom: 25px;
}

.hastag-texts {
  margin: 0 10px;
  color: var(--blue-green);
}

.buttons {
  display: flex;
  justify-content: center;
  column-gap: 10px;
  padding-bottom: 20px;
}

.btn a:hover {
  cursor: pointer;
}

#weather-container,
#waiter-container {
  width: 40vw;
  margin: 8px;
}

.console-btn {
  width: 15vw;
  background-color: var(--prussian-blue);
  color: var(--light-cornflower-blue);
  border-radius: 8px;
  padding: 8px;
  margin: 8px;
}

.console-btn:hover {
  cursor: pointer;
  color: var(--selective-yellow);
}

.waiter-image {
  height: 20vh;
  width: 10vw;
  object-fit: contain;
}

@media screen and (max-width: 576px) {
  .title {
    font-size: 60px;
  }
  #holiday-dropdown,
  #weather-container,
  #waiter-container {
    width: 90vw;
  }

  .console-btn {
    width: 30vw;
  }
}

@media screen and (max-width: 768px) {
  #weather-container,
  #waiter-container {
    width: 90vw;
  }
}
